/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary: #1B3D68;
    --secondary: #3498db;
    --accent: #e74c3c;
    --light-blue: #F0F6F8;
    --dark: #4D4D4D;
    --gray: #95a5a6;
    --white: #fff;
}

body {
    line-height: 1.6;
    color: #838383;
    background-color: #fff;
}
a, button, input, textarea {
    outline: none;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: var(--secondary);
}

section {
    padding: 60px 0;
}
.section-title {
    margin-bottom: 40px;
    font-size: 2rem;
    color: #08213a;
}
.cnt-title{
    text-align: center;
}

/* Header Styles */
header {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.header-container {
    /* display: flex;
    justify-content: flex-end;
    align-items: center; */
    position: relative;
    padding-left: 280px;
}
.tp-phone{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.tp-phone span{
    color: #08213a; 
    font-weight: 500;
    font-size: 0.9rem;
}
.tp-phone a{
    color:#08213a; 
    text-decoration: none; 
}
.main-header nav{
    padding: 15px 0
}
.header-container.brd-0{
    border-bottom: none;
}
.sticky-header{
    display: none;
}
.logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--primary);
    width: 150px;
    position: absolute;
    top: 0;
    left: 0;
}
.logo img{
    display: block;
    width: 100%;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    gap: 65px;
}
.enq-form a{
    color:#000; 
    text-decoration: none;
    display: flex;
    background-color: #fff;
    line-height: 40px;
    padding: 0 10px;
    align-items: center;
}
.enq-form img{
    margin-right: 10px;
}
.nav-menu {
    display: flex;
    list-style: none;
    gap: 50px;
}

.nav-menu a {
    text-decoration: none;
    color: #08213a;
    font-weight: 500;
    transition: color 0.3s;
}
.nav-menu a.active{
    color: #fad15e;
}
.nav-menu a:hover {
    color: #fad15e;
}

.mobile-menu-btn {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #060615;
}

/* Hero Section */
.hero {
    background-size: cover;
    background-position: center;
    color: white;
    text-align: left;
    height: 95vh;
    display: flex;
    align-items: center;
    position: relative;
}
.hero .container{
    position: relative;
    z-index: 2;
    padding-top: 45px;
}
.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 61, 104, 0.4);
    z-index: 1;
}

.hero h1 {
    font-size: 2.2rem;
    margin-bottom: 20px;
    line-height: 3.2rem;
    color: #fad15e;
}

.hero p {
    font-size: 2.2rem;
    color: #08213a;
}

/* Featured Properties */
.section-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.filter-tabs{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
.filter-tabs a{
    display: block;
    color:#4D4D4D;
    padding: 8px 15px;
    border: 1px solid #4D4D4D;
    text-decoration: none;
}
.filter-tabs a:hover, .filter-tabs a.active{
    background-color: var(--primary);
    color:#fff;
    border: 1px solid var(--primary);
    transition: all 0.3s;
}
.properties-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.property-card {
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.property-card:hover {
    transform: translateY(-5px);
}

.property-img {
    /* height: 200px; */
    background-color: #ddd;
    background-size: cover;
    background-position: center;
}
.property-img img{
    display: block;
}
.property-info {
    padding: 20px;
    padding-bottom: 12px;
}

.property-price {
    font-size: 1.3rem;
    font-weight: 500;
    color: #4D4D4D;
    margin-bottom: 10px;
}
.property-price span{
    font-size: 0.95rem;
}
.short-details {
    color: var(--gray);
    margin-bottom: 15px;
    display: flex;
    font-size: 0.95rem;
    gap: 20px
}
.download-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #eee;
    padding-top: 10px;
    margin: 0 -20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 0.95rem;
}
.download-links a{
    color:#4D4D4D;
    font-size: 1.2rem;
}
/* About Section */

.about-section .container{
    display: flex;
}
.about-section .sm-box{
    max-width: 50%;
}
.about-section .sm-box:first-child{
    padding-right: 30px;
}
.about-section .sm-box img{
    width: 100%;
    display: block;
}
.ficon{
    height: 39px;
    width: 39px;
    background-color: #08213a;
    display: block;
    border-radius: 50%;
    padding: 7px;
    margin-right: 10px;
    text-align: center;
    color: #fff;
}
.about-card{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 35px;
}
.about-card > div{
    max-width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 25px;

}
.sub-title i{
    color: #fad15e;
}
/* Services Section */
.services-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.service-card {
    padding: 30px 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s;
    background-color: white;
    max-width: 31.6%;
    display: flex;
    gap: 20px;
}
.service-card h3{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 400;
    color:#383838
}
.service-card p{
    color:#838383
}
.service-card:hover {
    transform: translateY(-5px);
}



/* Features Section */
.grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    border: 1px solid #ddd;
    padding: 20px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: box-shadow 0.3s ease;
    max-width: 24%;
}

.card.card-wid-50 {
    max-width: 48.5%;
}

.card:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.card-icon {
    font-size: 32px;
    margin-bottom: 15px;
    color: #333;
}

.card h3 {
    margin: 0 0 10px;
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

.card p {
    font-size: 14px;
    color: #666;
    flex-grow: 1;
    margin-bottom: 20px;
}

.learn-more {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #ddd;
    padding: 8px 12px;
    border-radius: 4px;
    width: fit-content;
    transition: background 0.3s;
}

.learn-more:hover {
    background: #f5f5f5;
}

.learn-more span {
    margin-left: 8px;
}

/* Stats Section */
.stats-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.stats-section .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.stat {
  text-align: center;
}

.counter {
  font-size: 3rem;
  font-weight: bold;
  color: #2c3e50;
}

.stat p {
  font-size: 1.1rem;
  color: #555;
}

/* why choose us */
.list-items{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 20px;
    list-style: none;
}
.sm-title{
    font-size: 20px;
    font-weight: 600;
    color:#4D4D4D
}
.why-chooseus-section .container {
    display: flex;
    gap: 30px;
}
.why-chooseus-section h2.section-title{
    margin-bottom: 10px;
}

/* Partners */
.partners-section{
    background-color: var(--light-blue);
}
.partners-section .container{
    display: flex;
    gap: 30px;
}

.sm-box-1:first-child{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.sm-logo1{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    justify-content: center;
}
.partner-logo{
    background-color: #fff;
    height: 132px;
    max-width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}

.partners-section .section-title{
    margin-bottom: 20px;
}

/* Footer */
footer {
    padding: 60px 0 0;
}

.footer-flex{
    display: flex;
    gap: 50px;
}
.contact-info{
    width: 40%;
}
.contact-form{
    width: 58.2%;
}
#contactForm{
    padding-top: 35px;
}
.input-box{
    margin-bottom: 25px;
}
.input-box input{
    border:0;
    background-color: #fff;
    padding: 0 20px;
    height: 50px;
    border-radius: 6px;
    width: 100%;
}
.input-box textarea{
    border: 0;
    background-color: #fff;
    padding: 20px;
    height: 150px;
    border-radius: 6px;
    width: 100%;
}
.submit-btn button{
    display: block;
    border: 0;
    background-color: #1B3D68;
    color:#fff;
    border-radius: 6px;
    height: 45px;
    width: 130px;
    font-size: 1rem;
    cursor: pointer;
}
.contact-info{
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding-top: 54px;
}
.contact-info .sub-title{
    margin-bottom: 20px;
}
.ftext{
    font-weight: 600;
    color:#2C2C2C;
}
.call-txt{
    font-size: 2rem;
    color:#2C2C2C;
    font-weight: 700;
}
.social{
    padding-top: 20px;
}
.ft-link{
    display: flex;
    gap: 20px;
}
.ft-link i{
    font-size: 2rem;
    color: #2C2C2C;
}
.ft-txt{
    font-weight: 600;
    color:#2C2C2C;
    padding-bottom: 15px
}
.ft-box{
    display: flex;
    gap: 10px;
    align-items: center;
    color: #2C2C2C;
}
.ft-box span i{
    height: 39px;
    width: 39px;
    background: #fff;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #08213a;
}
.ft-box a{
    color: #2C2C2C;
    text-decoration: none;
}
.copyright {
    padding: 20px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 0.9rem;
    background-color: #060615;
    margin-top: 55px;
}
.copyright .container{
    display: flex;
    justify-content: space-between;
}
.copyright a{
    color:#fff;
    text-decoration: none;
    padding: 0 10px;
}
.copyright a:last-child{
    padding-right: 0;
}
#loadMoreBtn{
    display: block;
    border: 0;
    background-color: #1B3D68;
    color:#fff;
    border-radius: 6px;
    height: 45px;
    width: 130px;
    font-size: 1rem;
    cursor: pointer;
}
.error {
  color: red;
  font-size: 12px;
  margin-top: 3px;
  display: block;
}
input:focus, textarea:focus {
  border-color: #007bff;
  outline: none;
}
.success-msg{
    color: green;
    font-size: 0.80rem;
    margin-top: 10px;
}
.mb-sm-logo2{
    display: none;
}
.filter-tabs a[aria-disabled="true"] {
  pointer-events: none;
  opacity: 0.5;
  cursor: default;
  text-decoration: none;
  color: #999;
  background-color: #4D4D4D;
}
.mb-logo{
    display: none;
}

/* Responsive Styles */
@media (max-width: 1199px){
    .service-card{
        max-width: 31.2%;
    }
    .card.card-wid-50{
        max-width: 47.6%;
    }
    .header-container{
        padding-left: 220px;
    }
}
@media (max-width: 979px){
    .card{
        max-width: 48.5%;
    }
    .about-section .container{
        flex-direction: column;
    }
    .about-section .sm-box{
        max-width: 100%;
    }
    .service-card{
        max-width: 47.8%;
    }
    .partners-section .container{
        flex-direction: column;
        align-items: center;
    }
    .why-chooseus-section .container{
        flex-direction: column;
    }
    .header-container{
        padding-left: 124px;
    }
    .nav-menu{
        gap: 20px;
    }
    .nav-container{
        gap: 0;
    }
    .logo{
        width: 110px;
    }
}
@media (max-width: 768px) {

    .nav-menu.active {
        display: flex;
    }

    .nav-menu li {
        margin: 10px 0;
    }

    .mobile-menu-btn {
        display: block;
        position: relative;
        z-index: 90;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
    }

    section {
        padding: 40px 0;
    }

    .section-title {
        font-size: 1.7rem;
    }
    .tp-phone{
        display: none;
    }
    .logo{
        width: 110px
    }
    .logo img{width: 100%;}
    .enq-form{display: none;}
    .nav-container{display: none;}
    header{height: 50px}
    .header-container{
        display: flex;
        justify-content: flex-end;
        padding-top: 9px;
    }
    .mobile-menu-open{
        position: fixed;
        top: 0;
        right: 0;
        width: 300px;
        height: 100vh;
        background-color: rgba(27, 61, 104, 0.9);
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
        padding: 75px 40px 0;
        display: block;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
    .fa-xmark{
        color: #fff;
    }
    .nav-menu{
        flex-direction: column;
        gap: 0;
    }
    .nav-menu a{color: #fff}
    .hero{
        height: 340px;
        padding: 60px 0 30px;
        align-items: flex-start;
    }
    .section-title{
        margin-bottom: 20px;
    }
    .filter-tabs{
        margin-bottom: 20px;
    }
}

@media (max-width: 767px){
    .services-grid{
        flex-direction: column;
    }
    .service-card{
        max-width: 100%;
    }
    .card {
        max-width: 47.7% !important;
    }
    .footer-flex{
        flex-direction: column;
    }
    .contact-info, .contact-form{
        width: 100%;
    }
    .why-chooseus-section img{width: 100%;}
    .sm-logo1{
        display: none;
    }
    .mb-sm-logo2{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 20px;
    }
    .stats-section{
        display: grid;
        justify-content: space-around;
        align-items: center;
        grid-template-columns: 1fr 1fr;
    }
    .copyright .container{
        flex-direction: column;
        text-align: center;
    }
    .property-img img{
        width: 100%;
    }
    .about-card > div{
        flex-direction: column;
        align-items: flex-start;
        padding-right: 15px;
    }
    .mb-logo{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }
    .mb-logo .partner-logo{
        max-width: 47%;
        height: 96px;
    }
    .contact-info{
        padding-top: 0;
    }
    .hero .container{
        padding-top: 112px;
    }
    .hero p, .hero h1{
        font-size: 1.5rem;
    }
}
@media (max-width: 479px){
    .card {
        max-width: 100% !important;
    }
    .mb-logo .partner-logo{
        max-width: 46.68%;
        height: 96px;
    }
    .mb-logo .partner-logo img{
        width: 100%;
    }
}